.title {
  font-family: 'Raleway', sans-serif;
  color: #24272B;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.025em;
  margin: 0 0 36px;
  padding-top: 25%;
}

.title > span {
  color: #1da5a5;
}

.container {
  margin: 0 auto;
  max-width: 580px;
  padding: 0 28px;
}